@model List<SocialMedia>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Sosyal Medya Hesapları</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Ad</th>
                            <th>ResimUrl</th>
                            <th>İkon</th>
                            <th>Durum</th>
                            <th>Ekle</th>
                            <th>Düzenle</th>
                            <th>Sil</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.SocialMediaID</td>
                                <td>@item.Name</td>
                                <td>@item.Url</td>
                                <td>@item.Icon</td>
                                <td>@item.Status</td>

                                <td>
                                    <a href="/Experience/EditExperience/@item.SocialMediaID" class="btn btn-outline-primary btn-icon-text">
                                        <i class="mdi mdi-grease-pencil btn-icon-prepend"></i> Düzenle
                                    </a>
                                </td>
                                <td>
                                    <a href="/Experience/DeleteExperience/@item.SocialMediaID" class="btn btn-outline-danger btn-icon-text">
                                        <i class="mdi mdi-delete btn-icon-prepend"></i> Sil
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="/Experience/AddExperience" class="btn btn-outline-info btn-icon-text m-4">
                    <i class="mdi mdi-library-plus btn-icon-prepend"></i> Yeni Hesap Ekle
                </a>
            </div>
        </div>
    </div>
</div>

